In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('data/application_train.csv')

In [3]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
train.columns = map(str.lower, train.columns)

In [5]:
test = pd.read_csv('data/application_test.csv')

In [6]:
test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
test.columns = map(str.lower, test.columns)

In [8]:
train_copy_1 = train.copy()
test_copy_1 = test.copy()

In [9]:
# from sklearn.preprocessing import LabelEncoder
# from keras.utils import to_categorical
# label_encoder = LabelEncoder()

In [10]:
categorical_null_threshold = 0.4

In [11]:
train_copy_1.shape

(307511, 122)

In [12]:
# Drop column if the amount of nulls is above the categorical_categorical_null_threshold
# for column in (train_copy_1.columns):
#     if train_copy_1[column].dtype == 'object':
#         if (train_copy_1[column].isnull().sum()/len(train_copy_1)) > categorical_null_threshold:
#             print(f'Dropped column: {column}')
#             train_copy_1.drop([column], axis=1, inplace=True)
#             test_copy_1.drop([column], axis=1, inplace=True)

#         elif (train_copy_1[column].isnull().sum()) > 0:
#             print(f'Adjusted column: {column}')
#         # If the nulls are within the threshold, delete rows with nulls
# #             train_copy_1 = train_copy_1[pd.notnull(train_copy_1[column], inplace=True)]
# #             train_copy_1 = train_copy_1[train_copy_1[column].notnull()]
# #             df = df[pd.notnull(df['Gender'])]
#             train_copy_1.dropna(subset=column, inplace=True)

In [13]:
# columns_to_drop = []
# columns_to_adjust = []

# for column in (train_copy_1.columns):

In [14]:
train_copy_1.head()

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,...,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
train_copy_1.shape

(307511, 122)

In [16]:
# Drop the rows of categorical data that contain nulls
# object_columns = train_copy_1.loc

In [17]:
# Remove all the columns with nulls over a threshold, and replace the rest with 0.

# nulls_threshold = 50
# for column in list(train_copy_1.columns):
#     null_count = train_copy_1[column].isnull().sum()
#     null_percentage = ( null_count / len(train_copy_1) * 100)
#     if null_percentage > nulls_threshold:
#         print(column)
#         train_copy_1.drop(column, axis=1, inplace=True)
#         test_copy_1.drop(column, axis=1, inplace=True)

In [18]:
null_threshold = 0.5

column_list = train_copy_1.isnull().sum(axis = 0) / train_copy_1.count(axis = 0)

train_copy_1 = train_copy_1.loc[:,list(column_list.apply(lambda x: x < null_threshold))]

#column_list.apply(lambda x: x < 0.5).head(50)

In [19]:
object_columns = [column for column in train_copy_1.columns if train_copy_1[column].dtype=='object']

# train_copy_1 = train_copy_1.loc[train_copy_1[object_columns].notnull()]
train_copy_1.dropna(subset=object_columns, inplace=True)
# train_copy_1['amt_req_credit_bureau_hour'].value_counts()

In [20]:
train_copy_1['amt_req_credit_bureau_hour'].dtype

dtype('float64')

In [21]:
train_copy_1.shape

(210213, 73)

In [22]:
test_copy_1.shape

(48744, 121)

In [23]:
train_copy_1.dropna(inplace=True)

In [24]:
train_copy_1.shape

(167732, 73)

In [25]:
# Create a list of the target values to use as labels
labels = train_copy_1['target'].values

In [26]:
len(labels)

167732

In [27]:
# Need to make the columns the same in the training and testing datasets
train_columns = list(train_copy_1.columns)
test_columns = list(test_copy_1.columns)

In [28]:
for column in train_columns:
    if column not in test_columns:
#         if column == 'target':
#             pass
#         else:
        print(f'Dropped from train: {column}')
        train_copy_1.drop(column, axis=1, inplace=True)
        
for column in test_columns:
    if column not in train_columns:
        print(f'Dropped from test: {column}')
        test_copy_1.drop(column, axis=1, inplace=True)

Dropped from train: target
Dropped from test: own_car_age
Dropped from test: ext_source_1
Dropped from test: apartments_avg
Dropped from test: basementarea_avg
Dropped from test: years_beginexpluatation_avg
Dropped from test: years_build_avg
Dropped from test: commonarea_avg
Dropped from test: elevators_avg
Dropped from test: entrances_avg
Dropped from test: floorsmax_avg
Dropped from test: floorsmin_avg
Dropped from test: landarea_avg
Dropped from test: livingapartments_avg
Dropped from test: livingarea_avg
Dropped from test: nonlivingapartments_avg
Dropped from test: nonlivingarea_avg
Dropped from test: apartments_mode
Dropped from test: basementarea_mode
Dropped from test: years_beginexpluatation_mode
Dropped from test: years_build_mode
Dropped from test: commonarea_mode
Dropped from test: elevators_mode
Dropped from test: entrances_mode
Dropped from test: floorsmax_mode
Dropped from test: floorsmin_mode
Dropped from test: landarea_mode
Dropped from test: livingapartments_mode
Dropped from test: livingarea_mode
Dropped from test: nonlivingapartments_mode
Dropped from test: nonlivingarea_mode
Dropped from test: apartments_medi
Dropped from test: basementarea_medi
Dropped from test: years_beginexpluatation_medi
Dropped from test: years_build_medi
Dropped from test: commonarea_medi
Dropped from test: elevators_medi
Dropped from test: entrances_medi
Dropped from test: floorsmax_medi
Dropped from test: floorsmin_medi
Dropped from test: landarea_medi
Dropped from test: livingapartments_medi
Dropped from test: livingarea_medi
Dropped from test: nonlivingapartments_medi
Dropped from test: nonlivingarea_medi
Dropped from test: fondkapremont_mode
Dropped from test: housetype_mode
Dropped from test: totalarea_mode
Dropped from test: wallsmaterial_mode
Dropped from test: emergencystate_mode

In [29]:
features = list(train_copy_1.columns)
len(features)

72

In [30]:
train_copy_1.shape

(167732, 72)

In [31]:
test_copy_1.shape

(48744, 72)

In [32]:
train_copy_1 = pd.get_dummies(train_copy_1)

In [33]:
train_copy_1.shape

(167732, 180)

In [34]:
test_copy_1 = pd.get_dummies(test_copy_1)

In [35]:
test_copy_1.shape

(48744, 181)

In [36]:
train_columns2 = list(train_copy_1.columns)
test_columns2 = list(test_copy_1.columns)
for column in train_columns2:
    if column not in test_columns2:
#         if column == 'target':
#             pass
#         else:
        print(f'Dropped from train: {column}')
        train_copy_1.drop(column, axis=1, inplace=True)
        
for column in test_columns2:
    if column not in train_columns2:
        print(f'Dropped from test: {column}')
        test_copy_1.drop(column, axis=1, inplace=True)

Dropped from train: code_gender_XNA
Dropped from test: name_income_type_Unemployed
Dropped from test: organization_type_XNA

In [37]:
train_copy_1.shape

(167732, 179)

In [38]:
test_copy_1.shape

(48744, 179)

In [39]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(train_copy_1)
imputer.transform(train_copy_1)

imputer.fit(test_copy_1)
imputer.transform(test_copy_1)

array([[1.00001e+05, 0.00000e+00, 1.35000e+05, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.00005e+05, 0.00000e+00, 9.90000e+04, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.00013e+05, 0.00000e+00, 2.02500e+05, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [4.56223e+05, 1.00000e+00, 2.02500e+05, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.56224e+05, 0.00000e+00, 2.25000e+05, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.56250e+05, 0.00000e+00, 1.35000e+05, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [40]:
# # For each column in the training dataset
# for column in train.columns:
# # If the column contains the object (categorical) classes
#     if train[column].dtype == 'object':
# # Create a set of numerical labels to represent the categories
#         label_encoder.fit(train[column])
#     # Then replace all of the categories with numerical labels
#         train[column] = label_encoder.transform(str(train[column]))
#     # and then (create separate columns??) I don't know what the binary matrix is for...
#         train[column] = to_categorical(train[column])
# # And do the same thing to the test set so that the columns are the same
#         test[column] = label_encoder.transform(test[column])
#         test[column] = to_categorical(test[column])
        
        
        
# #     print(column.title())
# #     print(train[column].dtype)

In [41]:
train_copy_1.head()

,sk_id_curr,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,region_population_relative,days_birth,days_employed,days_registration,...,organization_type_Trade: type 3,organization_type_Trade: type 4,organization_type_Trade: type 5,organization_type_Trade: type 6,organization_type_Trade: type 7,organization_type_Transport: type 1,organization_type_Transport: type 2,organization_type_Transport: type 3,organization_type_Transport: type 4,organization_type_University
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588,-4970.0,...,0,0,0,0,0,0,0,0,0,0
6,100009,1,171000.0,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,-1213.0,...,0,0,0,0,0,0,0,0,0,0
7,100010,0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850,-449,-4597.0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
train_copy_1.dtypes.value_counts()

uint8      119
int64       40
float64     20
dtype: int64

In [43]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [44]:
scaler.fit(train_copy_1)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [45]:
scaler.transform(train_copy_1)
scaler.transform(test_copy_1)

array([[-2.80699391e-06,  0.00000000e+00,  9.27133465e-04, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 8.42098172e-06,  0.00000000e+00,  6.19371319e-04, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 3.08769330e-05,  0.00000000e+00,  1.50418749e-03, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 9.99910176e-01,  5.26315789e-02,  1.50418749e-03, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 9.99912983e-01,  0.00000000e+00,  1.69653883e-03, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 9.99985965e-01,  0.00000000e+00,  9.27133465e-04, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [46]:
train_copy_1.shape

(167732, 179)

In [47]:
test_copy_1.shape

(48744, 179)

In [48]:
train_copy_1.head()

,sk_id_curr,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,region_population_relative,days_birth,days_employed,days_registration,...,organization_type_Trade: type 3,organization_type_Trade: type 4,organization_type_Trade: type 5,organization_type_Trade: type 6,organization_type_Trade: type 7,organization_type_Transport: type 1,organization_type_Transport: type 2,organization_type_Transport: type 3,organization_type_Transport: type 4,organization_type_University
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588,-4970.0,...,0,0,0,0,0,0,0,0,0,0
6,100009,1,171000.0,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,-1213.0,...,0,0,0,0,0,0,0,0,0,0
7,100010,0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850,-449,-4597.0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
test_copy_1.head()

,sk_id_curr,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,region_population_relative,days_birth,days_employed,days_registration,...,organization_type_Trade: type 3,organization_type_Trade: type 4,organization_type_Trade: type 5,organization_type_Trade: type 6,organization_type_Trade: type 7,organization_type_Transport: type 1,organization_type_Transport: type 2,organization_type_Transport: type 3,organization_type_Transport: type 4,organization_type_University
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329,-5170.0,...,0,0,0,0,0,0,0,0,0,0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469,-9118.0,...,0,0,0,0,0,0,0,0,0,0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458,-2175.0,...,0,0,0,0,0,0,0,1,0,0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866,-2000.0,...,0,0,0,0,0,0,0,0,0,0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191,-4000.0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
test_copy_1.shape

(48744, 179)

In [51]:
# test_copy_1.dropna(inplace=True)
test_copy_1.isnull().sum()

sk_id_curr                              0
cnt_children                            0
amt_income_total                        0
amt_credit                              0
amt_annuity                            24
                                       ..
organization_type_Transport: type 1     0
organization_type_Transport: type 2     0
organization_type_Transport: type 3     0
organization_type_Transport: type 4     0
organization_type_University            0
Length: 179, dtype: int64

In [52]:
print('Column  |   Nulls')
for column in list(test_copy_1.columns):
    if test_copy_1[column].isnull().sum() > 0:
        print(column,  '|',  test_copy_1[column].isnull().sum())

Column  |   Nulls
amt_annuity | 24
ext_source_2 | 8
ext_source_3 | 8668
obs_30_cnt_social_circle | 29
def_30_cnt_social_circle | 29
obs_60_cnt_social_circle | 29
def_60_cnt_social_circle | 29
amt_req_credit_bureau_hour | 6049
amt_req_credit_bureau_day | 6049
amt_req_credit_bureau_week | 6049
amt_req_credit_bureau_mon | 6049
amt_req_credit_bureau_qrt | 6049
amt_req_credit_bureau_year | 6049

In [53]:
# Need to deal with these nulls in the test data
test_copy_1.fillna(test_copy_1.mean(), inplace=True)

#Rerun above script to check
print('Column  |   Nulls')
for column in list(test_copy_1.columns):
    if test_copy_1[column].isnull().sum() > 0:
        print(column,  '|',  test_copy_1[column].isnull().sum())

Column  |   Nulls

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
LRM = LogisticRegression()

In [56]:
print(len(train_copy_1))
print(len(labels))

167732
167732

In [57]:
LRM.fit(train_copy_1, labels)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
LRM_prediction = LRM.predict_proba(test_copy_1)[:, 1]

In [62]:
solution_1 = test_copy_1[['sk_id_curr']]
solution_1['target'] = LRM_prediction

solution_1.head()
solution_1['target'].value_counts()

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1.000000    2294
1.000000    1877
1.000000    1748
1.000000    1147
1.000000     691
            ...
0.070776       1
0.037573       1
0.098966       1
0.091125       1
0.059116       1
Name: target, Length: 39494, dtype: int64